

@media only screen and (min-width: 769px) 
{

    html, body 
    {
        font-size: 17px;  /*字体大小*/
    }
    
    html 
    {

        background-image: url('../img/background-main-page.gif');
        margin: 0px auto;  /*上方的空白大小*/
	    background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:top;
    }
    	
    body
    {
        color: white;    
        width: 100%;   /*格子宽度 %可以自动缩小 px不行*/
        margin: auto;
        margin-top: 5%;
        margin-bottom: 6%;
	    max-width: 1020px;
    	min-width: 640px;
        background-color: rgb(29, 28, 29);
        box-shadow: rgba(65, 58, 58, 0.9) 20px 0px 25px,  rgba(65, 58, 58, 0.9) -20px 0px 25px;
        -moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
        -webkit-box-shadow: rgba(65, 58, 58, 0.9) 20px 0px 25px,  rgba(65, 58, 58, 0.9) -20px 0px 25px;
        clear: none;
        float: none;
    }
    article{
        padding-top: 01%;  /*上方与字的距离*/
        padding-left: 02%;  /*左边边界与字的距离*/
        padding-right: 02%; /*右边*/
        padding-bottom: 02%; /*下方与字的距离*/
    }

    
}

@media only screen and (min-width: 481px) {
    html, body 
    {
        font-size: 17px;  /*字体大小*/
    }
    body
    {
        color: white;    
        width: 100%;   /*格子宽度 %可以自动缩小 px不行*/
        max-width: 1024px;  /*可显示最宽*/     
        background-color: rgb(29, 28, 29);
        clear: none;
        float: none;
    }

}
